In [6]:
import pandas as pd
import numpy as np

In [7]:
x1 = pd.Series([1,2,3,4])
x2 = pd.Series(data=[1,2,3,4], index=['a', 'b', 'c', 'd'])
print(x1)
print(x2)

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [23]:
index = np.arange(6)
df1 = pd.DataFrame(np.random.randn(6,4),index=index,columns=['a','b','c','d'])

print(df1)

data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98,66,77,89]}#字典
df2= pd.DataFrame(data)
df3 = pd.DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'])
print(df2)
print(df3)
print(df1['b'])
print(df2.index)
print(df2.columns)

          a         b         c         d
0  0.191984 -0.510867 -0.610483  1.443711
1 -0.044273  0.682429 -0.518307 -0.824806
2  2.249737 -2.728251  0.084666  0.469433
3  0.222679  0.187884 -2.079845 -0.865438
4 -0.344660 -0.731999  1.191178 -2.419669
5  1.419075  0.567836 -0.144549  0.542699
   Chinese  English  Math
0       66       65    30
1       95       85    98
2       93       92    66
3       90       88    77
4       80       90    89
            Chinese  English  Math
ZhangFei         66       65    30
GuanYu           95       85    98
ZhaoYun          93       92    66
HuangZhong       90       88    77
DianWei          80       90    89
0   -0.510867
1    0.682429
2   -2.728251
3    0.187884
4   -0.731999
5    0.567836
Name: b, dtype: float64
RangeIndex(start=0, stop=5, step=1)
Index(['Chinese', 'English', 'Math'], dtype='object')

# Pandas 处理丢失数据

In [28]:
#创建含有NaN数据
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates, columns=['A','B','C','D'])
df.iloc[0,1] = np.nan
df.iloc[1,2] = np.nan
print(df)

             A     B     C   D
2013-01-01   0   NaN   2.0   3
2013-01-02   4   5.0   NaN   7
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [29]:
#dropna  直接去掉有 NaN 的行或列
df.dropna(
    axis=0,     # 0: 对行进行操作; 1: 对列进行操作
    how='any'   # 'any': 只要存在 NaN 就 drop 掉; 'all': 必须全部是 NaN 才 drop 
    )

In [31]:
#将 NaN 的值用其他值代替
df1=df.fillna(value=0)
print(df1)

             A     B     C   D
2013-01-01   0   0.0   2.0   3
2013-01-02   4   5.0   0.0   7
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [38]:
#读数据
data=pd.read_csv('student.csv')
print(data) #index自己加上去的
df1=data.drop(columns=['Student ID'])
df2=data.drop(index=[0])
print(df1)
print(df2)

    Student ID  name   age  gender
0         1100  Kelly   22  Female
1         1101    Clo   21  Female
2         1102  Tilly   22  Female
3         1103   Tony   24    Male
4         1104  David   20    Male
5         1105  Catty   22  Female
6         1106      M    3  Female
7         1107      N   43    Male
8         1108      A   13    Male
9         1109      S   12    Male
10        1110  David   33    Male
11        1111     Dw    3  Female
12        1112      Q   23    Male
13        1113      W   21  Female
    name   age  gender
0   Kelly   22  Female
1     Clo   21  Female
2   Tilly   22  Female
3    Tony   24    Male
4   David   20    Male
5   Catty   22  Female
6       M    3  Female
7       N   43    Male
8       A   13    Male
9       S   12    Male
10  David   33    Male
11     Dw    3  Female
12      Q   23    Male
13      W   21  Female
    Student ID  name   age  gender
1         1101    Clo   21  Female
2         1102  Tilly   22  Female
3         1103   Tony   24    Male
4         1104  David   20    Male
5         1105  Catty   22  Female
6         1106      M    3  Female
7         1107      N   43    Male
8         1108      A   13    Male
9         1109      S   12    Male
10        1110  David   33    Male
11        1111     Dw    3  Female
12        1112      Q   23    Male
13        1113      W   21  Female